body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#board{
    height: 540px;
    width: 630px;

    background-color: forestgreen;
    border:10px solid rgb(2, 48, 1);

    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;

    background-color: rgb(134, 239, 104);
    border-radius: 50%;
    border: 5px solid rgb(2, 48, 1);
}

.red-piece{
    background-color: red;
}

.white-piece{
    background-color: white;
}
